# node
/node_modules
/.husky

# git
.gitignore
/.github

# eslint
.eslintrc.cjs

# vs code
.vscode

# commitlint
commitlint.config.ts

# temp files
tsconfig.tsbuildinfo

# tests
*spec-types.ts
*test-types.ts