# node
/node_modules
/.husky

# git
.gitignore
.gitmodules
/.github

# eslint
.eslintrc.cjs

# vs code
.vscode

# commitlint
commitlint.config.ts

# ts files
tsconfig.build
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo
tsconfig.json

# tests
/lib

# media
/blob

#env files
rt.config.ts